<h2>Show Product</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @product.name %>
  </li>

  <li>
    <strong>Category:</strong>
    <%= @product.category %>
  </li>

</ul>

<span><%= link "Edit", to: product_path(@conn, :edit, @product) %></span>
<span><%= link "Back", to: product_path(@conn, :index) %></span>
